<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/Head.ejs') %>
    <title>Document</title>
</head>
<body>
    <%- include('partials/Header.ejs') %>
    <div id="container">
        <div id="main">
            <form action="/api/addFilm" method='POST' class="form"  
            enctype="multipart/form-data"
            >
           <h3>Новый фильм</h3>

                <fieldset class="fieldset">
                    <label for="">Выберите постер для фильма</label>
                    <input type="file"  name="image">
                </fieldset>

                <fieldset class="fieldset">
                    <label for="">Название фильма на русском</label>
                    <input type="text" placeholder="Введите название фильма на русском" name="titleRus">
                </fieldset>

                <fieldset class="fieldset">
                    <label for="">Название фильма на английском</label>
                    <input type="text" placeholder="ВНазвание фильма на английском" name="titleEng">
                </fieldset>


                <fieldset class="fieldset">
                    <label for="">Введите год выпуска</label>
                    <input type="number" placeholder="Введите год выпуска" name="year">
                </fieldset>


                <fieldset class="fieldset">
                    <label for="">Дительность фильма в минутах</label>
                    <input type="number" placeholder="Введите длительность " name="time">
                </fieldset>
                

             


                <fieldset class="fieldset">
                    <label for="">Cтрана выпуска</label>
                    <select name="country" id="">
                        <% country.forEach(country => {%>
                            <option value="<%=country._id%>"><%=country.name%></option>
                            
                             <%
                         }) %>
                        
                       
                    </select>
                </fieldset>

                <fieldset class="fieldset">
                    <label for="">Жанр фильма</label>
                    <select name="ganre" id="">
                        <% ganres.forEach(ganre => {%>
                            <option value="<%=ganre._id%>"><%=ganre.name%></option>

                             <%
                         }) %>
                        
                       
                    </select>
                </fieldset>
               


                <fieldset class="fieldset">
                   <button type="submit">ADD</button>
                </fieldset>
               


            </form>
        </div>
    </div>
</body>
</html>