<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/Head.ejs') %>
        <title>Document</title>

    </head>
    <body>
        <%- include('partials/Header.ejs') %>

        <div class="container">
            <div class="main">
                <div class="categories">
                    <% ganres.forEach(ganre => {%>
                        <a href="/<%=ganre.key%>"><%=ganre.name%></a>
                         <%
                     }) %>
                </div>
                <div class="main-content">
                    <h3>Admin profile</h3>


                    <div class="main-content">

                        <div class="profile">

                            <div id="profile-img">
                                <img src="/images/films/avatarProfile.jpeg" alt="" style="width: 66%;
                                border-radius: 60%;
                                border: 1px solid;" >
                            </div>

                            <div id="profile-info">
                                
                                <p>
                                    <span>Полное имя:</span>
                                    <%=user.full_name %></p>
                                <p>
                                    <span>Email:
                                    </span><%=user.email %></p>
                                    <br><br>
                                <%
                                    if(loginUser.id == user.id){                               
                                %>

                                <a class="edit-btn">
                                    Редактировать профиль
                                </a>
                                <br><br>
                                <a class="edit-btn" href="/api/signout">
                                    Выход
                                </a>


                                <% }%>
                               
                            </div>
                        </div>

                        <div class="card-right"></div>

                        <hr>
                        <br>

                      
                        <h3>Films</h3>

                        <button id="addFilm"><a href="/addfilm" class="add-btn">Add film</a>   </button>
                        
                        <%
                        films.forEach(item=>{
                            console.log('item from adminProfile=   ',item)
                        %>
                        
                        <div class="main-card ">
                            <div class="card-left">
                                <div class='film-img'>
                                    <img src="<%=item.image%>" alt="cc"/>
                                </div>
                                <div class="film-info">
                          
                                    <a>Наименование :<%=item.titleRus%></a>
                                    <a>Год выпуска :<%=item.year%></a>
                                    <a>Продолжительность :<%=item.time%></a>
                                    <a href="" style="text-decoration: none;color:black">Страна производитель: <%=item.country.name%></a>
                                    <a href="" style="text-decoration: none;color:black">Жанр: <%=item.genre.name%></a>
                                    <a href="" style="text-decoration: none;color:black">Автор: <%=item.author.full_name%></a>
                                   <br>
                                   
                                    <button class="film-btn">
                                        <img src="/images/icons/play.svg" alt="">
                                        Смотреть
                                    </button>
                                </div>
                            </div>

                            <div class="card-right">
                                <div class="film-rate">
                                    <p>7.3</p>
                                </div>
                           
                                    
                                    <div id="film-btns">
                                    <button > 
                                          <a href="/editfilm/<%=item._id%>">      Редактировать</a>
                                    </button>
                                    
                                    <form method="POST" action="/api/deletefilm/">
                                        <input type="hidden" name="id" value="<%= item._id %>" />
                                        <button type="submit">Delete</button>
                                        </form>
                                </div>
                            
                            </div>
                        </div>
                        <%     
                    })
                %>


                    </div>
                </div>
            </div>
        </div>


    </body>
</html>

