<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/Head.ejs') %>
        <title>Document</title>

    </head>
    <body>
        <%- include('partials/Header.ejs') %>

        <div class="container">
            <div class="main">
                <div class="categories">
                    <% ganres.forEach(ganre => {%>
                        <a href="/<%=ganre.key%>"><%=ganre.name%></a>
                         <%
                     }) %>
                </div>
                <div class="main-content">
                    <h3>Admin profile</h3>


                    <div class="main-content">

                        <div class="profile">

                            <div id="profile-img">
                                <img src="/images/films/avatarProfile.jpeg" alt="" style="width: 66%;
                                border-radius: 60%;
                                border: 1px solid;" >
                            </div>

                            <div id="profile-info">
                                
                                <p>
                                    <span>Полное имя:</span>
                                    <%=user.full_name %></p>
                                <p>
                                    <span>Email:
                                    </span><%=user.email %></p>
                                    <br><br>
                                <%
                                    if(loginUser.id == user.id){                               
                                %>

                                <a class="edit-btn">
                                    Редактировать профиль
                                </a>
                                <br><br>
                                <a class="edit-btn" href="/api/signout">
                                    Выход
                                </a>


                                <% }%>
                               
                            </div>
                        </div>

                        <div class="card-right"></div>

                        <hr>
                        <br>

                      
                        <h3>Films</h3>
                        <button id="addFilm"><a href="/addfilm" class="add-btn">Add film</a>   </button>
                        <div class="main-card ">
                            <div class="card-left">
                                <div class='film-img'>
                                    <img src="/images/films/film1.webp" alt="cc"/>
                                </div>
                                <div class="film-info">
                                    <a>Все везде и сразу</a>
                                    <a>Everything Everywhere All at Once, 2021, 139  мин</a>
                                    <a href="">США, фантастика</a>
                                    <button class="film-btn">
                                        <img src="/images/icons/play.svg" alt="">

                                        Смотреть
                                    </button>


                                </div>
                            </div>

                            <div class="card-right">
                                <div class="film-rate">
                                    <p>7.3</p>
                                </div>
                           
                                    
                                    <div id="film-btns">
                                    <button > 
                                          <a href="/editFilm">      Редактировать</a>
                                    </button>
                                    <button >Удалить</button>
                                </div>
                            
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>


    </body>
</html>

