<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/Head.ejs') %>
        <title>Document</title>
    </head>
    <body>
        <%- include('partials/Header.ejs') %>
        <div class="container">
            <div class="main">
                <div class="film-image">
                    <!-- <img src="/images/films/mqdefault.jpg" alt="" > -->
                    <img src="<%=film.image%>" alt="">
                </div>
             
                    <div class="film-info-detail">
                        <h2><%=film.titleRus%>(<%=film.year%>)</h2>
                        <p><%=film.titleEng%></p>



                        <% if(user&& user.toWatch && user.toWatch.includes(film._id)){%>
                            <button class="film-btn" onclick="deleteFromToWatch('<%=film._id%>')">
                                <img src="/images/saved.png" alt="">
                                Сохранено
                            </button>
                        <% }else{%>
                            <button class="film-btn" onclick="saveToWatch('<%=film._id%>')">
                                <img src="data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='16' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.667 8A1.333 1.333 0 1 1 2 8a1.333 1.333 0 0 1 2.667 0Zm4.666 0a1.333 1.333 0 1 1-2.666 0 1.333 1.333 0 0 1 2.666 0Zm3.334 1.333a1.333 1.333 0 1 0 0-2.666 1.333 1.333 0 0 0 0 2.666Z'/%3E %3C/svg%3E" alt="">
                                Буду смотреть
                            </button>
                        <% } %>
                        
                        <h4>О фильме</h4>
                        <div class="film-details">
                            <p>Дата изготовления</p>
                            <p><%=film.year%></p>
                        </div>
                        <div class="film-details">
                            <p>Страна изготовитель</p>
                            <p><%=film.country.name%></p>
                        </div>
                        <div class="film-details">
                            <p>Жанр</p>
                            <p><%=film.ganre.name%></p>
                        </div>
                        <div class="film-details">
                            <p>Продолжительность</p>
                            <p><%=film.time%> мин</p>
                        </div>
                    </div>
                </div>
                <% if (film.video){
                     %>
                    <div class="film-player">
                        <iframe width="560" height="315" src="<%=film.video%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                <%}%>
                
                <br><br><br>




                <div class="comments">
                <h3>Комментарии</h3>
                <% if(user && user._id){%>
                <form   class="add-comment-form" onSubmit="sendRate(event)">
                    <p>Оцените фильм</p>
                    <div class="comment-stars">
                        <img  onclick='rateFilm(1)' src="/images/star.png" alt="" width="20" height="30">
                        <img onclick='rateFilm(2)' src="/images/star.png" alt="" width="20" height="30">
                        <img onclick='rateFilm(3)' src="/images/star.png" alt="" width="20" height="30">
                        <img onclick='rateFilm(4)' src="/images/star.png" alt="" width="20" height="30">
                        <img onclick='rateFilm(5)' src="/images/star.png" alt="" width="20" height="30">
                    </div>
                    <p>Напишите комментарии</p>
                    <textarea id="comment-text"></textarea>
                    <input type="hidden" value="<%= user._id%>" id="comment_author">
                    <input type="hidden" value="<%= film._id%>" id="comment_film">
                    <button type="submit">Сохранить</button>
                </form>
                <% }else{ %>
                    <p>
                        <a href="/login">Войдите</a>
                        или
                        <a href="/register">Зарегистрируйтесь</a>,
                        чтобы оставить комментарии
                    </p>
                <% } %>


 
                <% 
                    if(rates){
                        
                        rates.forEach(rate =>{
                        // console.log(rate)
                %>
                    <div class="comment">
                        <p>Автор: 
                            <a href=""><%=rate.authorId.full_name%></a>    
                        </p>
                        <div class="comment-stars">
                            <%
                                for(let i = 0; i < 5; i++){
                                    if(i < rate.rate){
                                        console.log('this is i= ',i)
                            %>
                                        <img style="filter:grayscale(0%)" src="/images/star.png" alt="">
                            <%
                                    }else{
                            %>
                                        <img src="/images/star.png" alt="">
                            <%
                                    }
                                }
                            %>
                        </div>
                        <% if(rate.text.length > 0){%>
                        <p>Комментарии: <%= rate.text %></p>
                        <% } %>
                    </div>
                <%
                        })
                    }
                %>
            </div>


            </div>
  
            <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            
            <script src="/js/saveFilm.js"></script>
            <script src="/js/rateFilm.js"></script>
           
     
    </body>
  
</html>
