<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/Head.ejs') %>
        <title>Document</title>
    </head>
    <body>
        <%- include('partials/Header.ejs') %>
        <div id="container">
            <div id="main">
                <form action="/api/editfilm/"  method="POST"  enctype="multipart/form-data" class="form">

                    <h3>Редактировать фильм</h3>

                    <fieldset class="fieldset">
                       
                        <input type="hidden" value="<%=films._id%>" name="id">
                    </fieldset>

                    <fieldset class="fieldset">
                        <label for="">Выберите постер для фильма</label>
                        <input type="file" name="image">
                    </fieldset>

                    <fieldset class="fieldset">
                        <label for="">Название фильма на русском</label>
                        <input value=" <%=films.titleRus%>" type="text" placeholder="Введите название фильма на русском" name='titleRus'>
                    </fieldset>

                    <fieldset class="fieldset">
                        <label for="">Название фильма на английском</label>
                        <input value=" <%=films.titleEng%>" type="text" placeholder="ВНазвание фильма на английском" name="titleEng">
                    </fieldset>


                    <fieldset class="fieldset">
                        <label for="">Введите год выпуска</label>
                        <input value=" <%=films.year%>" type="text" placeholder="Введите год выпуска" name="year">
                    </fieldset>


                    <fieldset class="fieldset">
                        <label for="">Дительность фильма в минутах</label>
                        <input value=" <%=films.time%>" type="text" placeholder="Введите длительность " name="time">
                    </fieldset>

                    <fieldset class="fieldset">
                        <label for="">Добавьте ссылку на видео</label>
                        <input value="<%=films.video%>" type="text" placeholder="Введите ссылку на фильм " name="video">
                    </fieldset>

                    <fieldset class="fieldset">
                        <label for="">Cтрана производитель фильма</label>
                       
                        <select name="country" id="">
                            <% 
                                country.forEach(country => {
                                    if(country.id==films.country) {
                                        // console.log('selected= ',country.name)
                            %>
                                <option selected value="<%=country._id%>" >
                                    <%=country.name%>
                                </option>
                            <%  } else { %>
                                <option value="<%=country._id%>">
                                    <%=country.name%>
                                </option>
                            <%  }
                                }); 
                            %>
                        </select>

                    </fieldset>

                    <fieldset class="fieldset">
                        <label for="">Жанр фильма</label>
                        <select name="ganre" id="">

                        <%
                         ganres.forEach(ganre => {
                            if(ganre.id==films.ganre) {%>
                        <%
                        
                        
                        %>
                            <option selected value="<%=ganre._id%>"> <%=ganre.name%></option>
                        <%
                        }else{
                        %>
                            <option value="<%=ganre._id%>"><%=ganre.name%></option>

                        %>


                        <%   }} ); %>

                        </select>
                    </fieldset>

                    <fieldset class="fieldset">
                        <button type="submit">SAVE</button>
                    </fieldset>


                </form>
            </div>
        </div>
    </body>
</html>
